#root {
    background-color: #e8e8e8;
    width: 90%;
    margin: 0 auto;
}

header {
    text-align: center;
}

input[type='text'] {
    margin: 10px auto;
}

header h1 {
    color: white;
    font-size: 50px;
}

header input {
    border-radius: 5px;
    margin: 10px auto;
}

#buttons button {
    border-radius: 5px;
    background-color: silver;
    color: white;
    float: right;
}

.note_item {
    display: flex;
    flex-direction: column;
}